version: '3.8'

services:
  podcast-scraper:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: podcast-scraper
    volumes:
      - ../data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - podcast-network

  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"
    env_file:
      - .env


networks:
  podcast-network:
    driver: bridge